.more-movies {
    display: flex;
    justify-content: center;
    margin: 50px auto 80px;
}

.more-movies__btn {
    background-image: url('../../images/moreBtn.svg');
    width: 320px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #202020;
    border: none;
    cursor: pointer;
}